* {
	box-sizing: border-box !important;
}

#__next {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

.swiper-pagination {
	top: unset !important;
	bottom: 0 !important;
	transform: translateY(32px) !important;
}

.swiper-pagination-bullet {
	margin: 0 10px !important;
}

.swiper-pagination-bullet-active {
	outline: 2px solid var(--swiper-theme-color);
	outline-offset: 5px;
}
